{% extends 'main.html' %}

{% block content %}
{% include 'navbar.html' %}
<br><br>
<hr>
<div class="container-fluid">
    <div class="row">
        {% include 'sidebar.html' %}
        <div class="col-md-10 col-sm-12">
            <center>
                <h2>Admission Requirement</h2>
            </center>
            <div class="center"><button data-toggle="modal" data-target="#squarespaceModal"
                    class="btn btn-success center-block">Add</button></div>


            <!-- line modal -->
            <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="lineModalLabel">Create New Post</h3>
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>

                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" name="title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <input type="file" name="image"><br>
                                <input type="submit" class="btn btn-success" value="Submit">
                            </form>
                            {{form.errors}}

                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                        role="button">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Title</th>
                        <th>Content </th>
                        <th>Image</th>
                        <th>Date Created</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for programmes in programmes %}
                    <tr>
                        <td>{{programmes.title}}</td>

                        <td>{{programmes.content|linebreaks|truncatechars:100 }}</td>

                        {% if programmes.image %}
                        <td class="imge"><img class="img-responsive img-thumbnail smalli"
                                src="{{ programmes.image.url }}" /></td>
                        {% endif %}

                        <td>{{programmes.date_created}}</td>
                        <td><a class="btn btn-sm btn-info"
                                href="{% url 'updatehostel' programmes.id %}">Update</a></td>

                        <form action="{% url 'deletehostel' programmes.id  %}" method="POST"
                            onsubmit="return confirm('Are you sure you want to Delete ?')">
                            {% csrf_token %}
                            <td><input type="submit" value="Delete" class="btn btn-sm btn-danger"></td>
                        </form>


                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}